<div id="login" class="col s12">
	<form class="col s12">
		<div class="form-container">
				<h3 class="col s12 center">Se connecter</h3>
			<div class="row">
				<div class="input-field col s12">
				<input placeholder="Pseudo" id="username" type="text" class="validate" name="username" [(ngModel)]="user.username">
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
				<input placeholder="Mot de passe" id="password" type="password" class="validate" name="password" [(ngModel)]="user.password">
				</div>
			</div>
			<br>
			<div class="center">
				<button class="btn waves-effect waves-light teal" type="submit" (click)="login()">Se connecter</button>
			</div>
		</div>
	</form>
</div>