<div class="row">
    <h3 class="col s12 center">Liste des pokemons</h3>
    <div class="col s12">
        <a routerLink="/pokemons/{{pokemon.slug}}" class="list_pokemon col s2 center" *ngFor="let pokemon of pokemons">
            <img [src]="pokemon.img">
            <p class="pokemon_name">{{pokemon.name}}</p>
            <p class="left">
                <span class="badge" [ngStyle]="{'background-color': type.color}" *ngFor="let type of pokemon.types">{{type.name}}</span>
            </p>
        </a>
    </div>
</div>